extends layout

block content

  <!-- h1= title
  p Welcome to #{title}
  p Blah blah -->
  head
    title Poll Pal
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans+Condensed:300|Pacifico")

  #header
    h1  Poll Pal
    img(src="/public/images/logocrop.png")
  #buttonContainer
    form.button#buttonCreate(action="/votes/new")
     button.button CREATE POLL
    form.button#formJoin(name="findvote",method="post",action="/votes/search")
      label Session Name:
          input#inputName(type="text", placeholder="session-name", name="name")

      label
        button#btnSubmit(type="submit") Join Poll
