extends ../layout

block content
  - voteid = 'Vote ID ' + vote._id
  h1= voteid
  form(action=`/votes/${vote._id}/edit`,method='post',name='updateuser',enctype='application/x-www-form-urlencoded')
    label Name:
      input#inputName(type='text', value=vote.name, name='name')
    label Question:
      input#inputQuestion(type="text", name="question")
    label Passphrase:
      input#inputPassphrase(type='password', value='', name='passphrase')
    label
      input(type='hidden',value='PUT',name='_method')
    label
      button#btnSubmit(type='submit') Update
