extends ../layout

block content
	h1= title
	form#formAddUser(name="adduser",method="post",action="/votes")
		p Name:
			input#inputName(type="text", placeholder="ex. John Smith", name="name")
		p Passphrase:
			input#inputPassphrase(type="text", placeholder="", name="passphrase")
		p
			button#btnSubmit(type="submit") submit
