extends ../layout

block content
  h1= title
  form#formAddUser(name="adduser",method="post",action="/votes")
    label Session Name:
      input#inputName(type="text", placeholder="my-poll", name="name")

    label Question:
      input#inputQuestion(type="text", name="question")

    label Voting type:
      select(name="type")
        option(value="agreement") Agreement Voting
        option(value="stv") Ranked Choice Voting
        option(value="yesno") Yes/No

    label Passphrase:
      input#inputPassphrase(type="text", name="passphrase" value=passphrase)
    label
      button#btnSubmit(type="submit") submit
