extends ../layout

block content
  
  #header
    h1= vote.question
    img.logo(src="/images/logocrop.png")

  #main
    each response, i in vote.responses
      - votes = vote.votes.filter(vote => vote.includes(i+1)).length
      h2= response
      p= votes
