extends ../layout

block content
	h1.
		#{title}
	form#formAddUser(name="adduser",method="post",action="/users")
		p Name:
			input#inputName(type="text", placeholder="ex. John Smith", name="name")
		p Email:
			input#inputEmail(type="text", placeholder="ex. jhonsmith@example.com", name="email")
		p
			button#btnSubmit(type="submit") submit
